*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
nbproject/
.idea
*.orig

/sites/default/files
/node_modules
/assets/js/vendor
/protected/messages
/protected/runtime/application.log*


